@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Hiragino Mincho Pro", serif;
  line-height: 1.8em;
  font-size: 16px;
  letter-spacing: 1px;
  background: #fff;
  font-family: "Hiragino Mincho Pro", serif, "ヒラギノ明朝 ProN", "M PLUS Rounded 1c", sans-serif, "Hiragino Sans", "Noto Sans JP", "ピラギノ角ゴシック", "游ゴシック体 ", " Yu Gothic ", "YuGothic", " ヒラギノ角ゴ", "ProN W3 ", " Hiragino Kaku Gothic ProN ", " メイリオ ", " Meiryo";
}

img {
  width: 100%;
  height: auto;
}

a {
  color: #000000;
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

main {
  overflow: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.sp {
  display: none;
}

@media print, screen and (max-width: 768px) {
  .sp {
    display: block;
  }
  .pc {
    display: none;
  }
}

section {
  margin-bottom: 60px;
}

.cmn-title {
  color: #d4145a;
  font-size: 2em;
  letter-spacing: 0.4em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

@media print, screen and (max-width: 768px) {
  .cmn-title {
    font-size: 1.5em;
  }
}

.ja-title {
  color: #555;
  font-weight: normal;
  letter-spacing: 0.4em;
  text-align: center;
  margin-bottom: 30px;
}

.logo {
  width: 5%;
  min-width: 50px;
}

.fadein {
  opacity: 0;
  -webkit-transition: all 1200ms;
  transition: all 1200ms;
}

.fadein.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header {
  background-image: url(../../../../code/images/top-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 0.4em;
}

@media print, screen and (max-width: 768px) {
  .header {
    background-image: url(/code/images/top-photo-sp.jpg);
  }
}

.header h1 {
  margin: 0;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  background-color: rgba(212, 20, 90, 0.9);
}

@media print, screen and (max-width: 768px) {
  .header h1 .sp {
    display: block;
  }
}

.header h1 a {
  color: #fff;
}

.header h2 {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-left: 8%;
  color: #d4145a;
  font-size: 2em;
  line-height: 1.3em;
}

@media print, screen and (max-width: 768px) {
  .header h2 {
    font-size: 1.4em;
  }
}

.header .sub-title {
  padding-left: 8%;
  font-size: 2em;
  line-height: 1.3em;
  margin-bottom: 60px;
}

@media print, screen and (max-width: 768px) {
  .header .sub-title {
    font-size: 1.1em;
  }
  .header .sub-title .sp {
    display: block;
  }
}

.header .sub-title span {
  color: #d4145a;
}

.header .sub-text {
  padding-left: 8%;
  padding-bottom: 60px;
  line-height: 1.5em;
  color: #555;
}

.footer {
  background-color: #d4145a;
  color: #fff;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer .address {
  padding-bottom: 15px;
}

@media print, screen and (max-width: 768px) {
  .footer {
    font-size: 0.8em;
  }
}

.news .news-box {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 50px;
  border: 2px solid;
  border-color: #d4145a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media print, screen and (max-width: 768px) {
  .news .news-box {
    display: block;
  }
}

.news .news-left {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
  border-right: 1px dashed #d4145a;
}

@media print, screen and (max-width: 768px) {
  .news .news-left {
    border-right: none;
    border-bottom: 1px dashed #d4145a;
    padding-bottom: 20px;
    margin: 0 15%;
  }
}

.news .news-left h3 {
  margin: 0;
}

.news .news-right {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5%;
  padding-right: 5%;
}

.news .news-right .date {
  color: #d4145a;
  margin: 0;
}

.news .news-right .news-text {
  margin-top: 0;
  margin-bottom: 10px;
}

.news .news-right span {
  width: 200px;
  border: 1px solid;
}

.open .since {
  text-align: center;
  margin-bottom: 50px;
}

@media print, screen and (max-width: 768px) {
  .open .since {
    margin: 0 8%;
    padding-bottom: 50px;
  }
}

.open .founder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8%;
  margin-right: 8%;
}

@media print, screen and (max-width: 768px) {
  .open .founder {
    display: block;
  }
}

.open .founder-left {
  width: 130%;
}

.open .founder-left h4 {
  font-size: 2em;
  color: #d4145a;
  font-weight: normal;
  letter-spacing: 0.4em;
  margin-bottom: 20px;
}

.open .founder-left p {
  text-align: center;
}

.open .founder-left img {
  min-width: 250px;
}

@media print, screen and (max-width: 768px) {
  .open .founder-left {
    width: 100%;
  }
  .open .founder-left h4 {
    text-align: center;
    font-size: 1.5em;
  }
  .open .founder-left p {
    padding-bottom: 15px;
  }
}

.open .founder-right {
  margin-left: 5%;
}

.open .founder-right p {
  margin-bottom: 25px;
}

.birth {
  background-image: url(../../../../code/images/main_image.jpg);
  background-repeat: repeat;
  background-size: cover;
}

.birth .birth-box {
  height: auto;
}

.birth .birth-title {
  margin-left: 8%;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

.birth .birth-title h2 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 2em;
  letter-spacing: 0.4em;
  color: #d4145a;
}

.birth .birth-title h3 {
  letter-spacing: 0.4em;
  padding-bottom: 40px;
}

.birth .birth-text {
  max-width: 60%;
  margin-left: 8%;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(212, 20, 90, 0.8);
  color: #fff;
}

.birth .birth-text p {
  padding-bottom: 20px;
}

.birth .text-title {
  padding-top: 30px;
  padding-bottom: 15px;
  font-size: 1.3em;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.birth .text-title::before {
  content: "";
  -webkit-box-flex: 0.05;
      -ms-flex-positive: 0.05;
          flex-grow: 0.05;
  border-bottom: 2px solid #fff;
}

.birth .text-title::before {
  margin-right: 10px;
  padding-left: 15px;
}

.birth .birth-textbox {
  padding-bottom: 50px;
}

@media print, screen and (max-width: 768px) {
  .birth {
    background-image: url(/code/images/main_image-sp.jpg);
    background-size: cover;
  }
  .birth .birth-title h2 {
    font-size: 1.4em;
  }
  .birth .birth-title h3 {
    font-size: 1em;
  }
  .birth .birth-text {
    margin-left: 0;
    max-width: 100%;
    margin: 0 8%;
    padding: 0 15px;
  }
  .birth .birth-text h3 {
    font-size: 1em;
  }
}

.history .history-top {
  text-align: center;
  margin-bottom: 50px;
}

.history .history-box {
  margin-bottom: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(10%, transparent), to(#fff)), url(../../../../code/images/history-back.jpg);
  background: linear-gradient(to bottom, transparent 0%, transparent 10%, #fff 100%), url(../../../../code/images/history-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.history .history-wrap-text {
  background-color: rgba(212, 20, 90, 0.8);
  color: #fff;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 50%;
}

.history .history-wrap-text h3 {
  padding-bottom: 20px;
  letter-spacing: 0.3em;
}

.history .history-wrap-text p {
  padding-bottom: 20px;
}

.history .history-wrap {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 8%;
  padding-right: 8%;
}

.history .history-wrap:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.history .history-wrap:nth-child(2) .history-wrap-text {
  margin-left: 5%;
  margin-right: 0;
}

.history .history-wrap-img {
  text-align: center;
}

.history .history-table table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.history .history-table table .table-top td {
  border-top: 2px solid #d4145a;
}

.history .history-table table .table-bottom td {
  border-bottom: 2px solid #d4145a;
}

.history .history-table table td {
  border-left: 2px solid #d4145a;
  border-right: 2px solid #d4145a;
  padding: 5px 10px;
}

@media print, screen and (max-width: 768px) {
  .history .history-top {
    margin-left: 8%;
    margin-right: 8%;
  }
  .history .history-wrap {
    margin: 0 8%;
    padding: 30px 0;
    display: block;
  }
  .history .history-wrap:nth-child(2) .history-wrap-text {
    margin-left: 0;
  }
  .history .history-wrap img {
    min-width: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .history .history-wrap-text {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .history .history-table {
    margin: 0 3%;
  }
}

.philosophy .philosophy-top {
  text-align: center;
  padding-bottom: 50px;
}

.philosophy .philosophy-wrap {
  background-image: url(../../../../code/images/philosophy-photo.jpg);
  background-position-y: center;
  min-height: 700px;
  background-size: cover;
}

.philosophy .philosophy-text-box {
  padding-top: 90px;
  padding-bottom: 90px;
}

.philosophy .philosophy-wrap-text {
  margin-left: 40%;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgba(212, 20, 90, 0.8);
  width: 50%;
  color: #fff;
}

.philosophy .philosophy-wrap-text h3 {
  letter-spacing: 0.5em;
  margin-bottom: 30px;
}

.philosophy .philosophy-wrap-text p {
  padding-bottom: 30px;
}

@media print, screen and (max-width: 768px) {
  .philosophy .philosophy-top {
    margin: 0 8%;
  }
  .philosophy .philosophy-wrap-text {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 84%;
    padding: 0;
  }
  .philosophy .philosophy-wrap-text h3 {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1em;
    letter-spacing: 0.1em;
  }
  .philosophy .philosophy-wrap-text p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.present .present-top {
  text-align: center;
  margin-bottom: 50px;
}

.present .pre {
  position: relative;
  z-index: 3;
  display: table;
  width: 100%;
  height: 580px;
  background-attachment: fixed;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.present .pre a {
  color: #fff;
}

.present .pre01 {
  background-image: url(/code/images/bg_sec01.jpeg);
}

.present .pre02 {
  background-image: url(/code/images/bg_sec02.jpeg);
}

.present .pre03 {
  background-image: url(/code/images/bg_sec03.jpeg);
}

.present .pre04 {
  background-image: url(/code/images/bg_sec04.jpeg);
}

.present .pre05 {
  background-image: url(/code/images/bg_sec05.jpeg);
}

.present .pre-inside {
  display: table-cell;
  height: 100%;
  padding: 0 5%;
  background: rgba(0, 0, 0, 0.4);
  vertical-align: middle;
}

.present .pre-inbox {
  width: 50%;
  min-width: 586px;
}

.present .pre-title {
  font-size: 1.4em;
}

.present .pre-copy {
  margin-top: 1.5em;
  padding: 1.2em 0;
  border: solid #fff;
  border-width: 1px 0;
  font-size: 1.2em;
}

.present .pre-text {
  margin-top: 1.5em;
  line-height: 1.857;
}

.present .tel-num {
  font-style: normal;
}

.present .ind-mns {
  display: inline-block;
  text-indent: -0.5em;
}

.present .pre-btn {
  margin-top: 2em;
  width: 300px;
}

.present .pre-btn a {
  display: block;
  border: solid 1px #fff;
  text-align: center;
  font-size: 0.95em;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  padding: 5px 0;
}

.present .pre-btn a:hover {
  background: #fff;
  color: #d4145a;
}

@media print, screen and (max-width: 768px) {
  .present .present-top {
    margin-left: 8%;
    margin-right: 8%;
  }
  .present .pre01,
  .present .pre02,
  .present .pre03,
  .present .pre04,
  .present .pre05 {
    background-image: none;
  }
  .present .pre {
    display: contents;
    width: 100%;
    padding-bottom: 3em;
    background: #fff;
    color: #000;
  }
  .present .pre a {
    color: #1e90ff;
  }
  .present .pre-inside {
    background: #fff;
  }
  .present .pre-img {
    width: 100%;
    text-align: center;
  }
  .present .pre-inside {
    width: 45%;
    min-width: 260px;
  }
  .present .pre-inbox {
    margin: 2em auto 2em;
    width: 100%;
    min-width: 100px;
  }
  .present .pre-btn {
    margin-top: 2em;
    width: 100%;
  }
  .present .pre-btn a {
    display: block;
    border: solid 1px #000;
    text-align: center;
    color: #000;
  }
  .present .pre-copy {
    display: table;
    width: 100%;
    height: 4em;
    margin-top: 1.5em;
    border: solid #000;
    border-width: 1px 0;
    line-height: 1.6;
    font-size: 1.1em;
  }
  .present .pre-copy span {
    display: table-cell;
    vertical-align: middle;
  }
}

.donation {
  text-align: center;
}

.donation .donation-top {
  margin-bottom: 50px;
}

.donation .donation-next {
  color: #d4145a;
  font-weight: bold;
  margin-bottom: 50px;
}

@media print, screen and (max-width: 768px) {
  .donation {
    margin-left: 8%;
    margin-right: 8%;
  }
}

.header .blog-top {
  margin-top: 120px;
}

.header .blog-sub-title {
  padding-left: 8%;
  margin-top: -50px;
  padding-bottom: 120px;
  color: #555;
}

@media print, screen and (max-width: 768px) {
  .header {
    background-image: url(/code/images/top-photo-sp.jpg);
  }
}

.blog {
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 50px;
}

.blog .blog-title {
  border-bottom: 1px dashed #d4145a;
  margin-bottom: 30px;
}

.blog .blog-title img {
  min-width: 50px;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

.blog .blog-title .date {
  color: #d4145a;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.blog .blog-title h3 {
  font-size: 1.4em;
  letter-spacing: 0.4em;
  margin-bottom: 15px;
}

.blog .blog-box p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.blog .blog-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-02 img {
  width: 49%;
}

.blog .blog-03 {
  padding-bottom: 50px;
  border-bottom: 2px solid #d4145a;
}

.blog .blog-03 img {
  width: 32%;
}

.blog .blog-bottom .before-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog .blog-bottom .before-next p {
  margin-top: 30px;
  color: #d4145a;
  font-size: 1.1em;
}

.blog .blog-bottom .top-btn {
  background-color: #d4145a;
  color: #fff;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 70px;
  width: 18%;
  text-align: center;
}

@media print, screen and (max-width: 768px) {
  .blog .blog-title {
    text-align: center;
  }
  .blog .blog-title img {
    float: none;
  }
  .blog .blog-title h3 {
    font-size: 1.1em;
  }
  .blog .blog-img {
    display: block;
  }
  .blog .blog-02 img {
    width: 100%;
  }
  .blog .blog-03 img {
    width: 100%;
  }
  .blog .blog-bottom {
    width: 100%;
  }
  .blog .blog-bottom .top-btn {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */