.birth {
  background-image: url(../../../../code/images/main_image.jpg);
  background-repeat: repeat;
  background-size: cover;
  .birth-box {
    height: auto;
  }
  .birth-title {
    margin-left: 8%;
    text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff,
      -1px -1px 0 #fff;
    h2 {
      padding-top: 40px;
      padding-bottom: 30px;
      font-size: 2em;
      letter-spacing: 0.4em;
      color: #d4145a;
    }
    h3 {
      letter-spacing: 0.4em;
      padding-bottom: 40px;
    }
  }
  .birth-text {
    max-width: 60%;
    margin-left: 8%;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba($color: #d4145a, $alpha: 0.8);
    color: #fff;
    p {
      padding-bottom: 20px;
    }
  }
  .text-title {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    text-align: center;
    &::before {
      content: "";
      flex-grow: 0.05;
      border-bottom: 2px solid #fff;
    }
    &::before {
      margin-right: 10px;
      padding-left: 15px;
    }
  }
  .birth-textbox {
    padding-bottom: 50px;
  }
  @include underSp {
    background-image: url(/code/images/main_image-sp.jpg);
    background-size: cover;
    .birth-title {
      h2 {
        font-size: 1.4em;
      }
      h3 {
        font-size: 1em;
      }
    }
    .birth-text {
      margin-left: 0;
      max-width: 100%;
      margin: 0 8%;
      padding: 0 15px;
      h3 {
        font-size: 1em;
      }
    }
  }
}
