.news {
  .news-box {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 50px;
    border: 2px solid;
    border-color: #d4145a;
    display: flex;
    justify-content: center;
    align-items: center;
    @include underSp {
      display: block;
    }
  }
  .news-left {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border-right: 1px dashed #d4145a;
    @include underSp {
      border-right: none;
      border-bottom: 1px dashed #d4145a;
      padding-bottom: 20px;
      margin: 0 15%;
    }
    h3 {
      margin: 0;
    }
  }
  .news-right {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    .date {
      color: #d4145a;
      margin: 0;
    }
    .news-text {
      margin-top: 0;
      margin-bottom: 10px;
    }
    span {
      width: 200px;
      border: 1px solid;
    }
  }
}
