.philosophy {
  .philosophy-top {
    text-align: center;
    padding-bottom: 50px;
  }
  .philosophy-wrap {
    background-image: url(../../../../code/images/philosophy-photo.jpg);
    background-position-y: center;
    min-height: 700px;
    background-size: cover;
  }
  .philosophy-text-box {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .philosophy-wrap-text {
    margin-left: 40%;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba($color: #d4145a, $alpha: 0.8);
    width: 50%;
    color: #fff;
    h3 {
      letter-spacing: 0.5em;
      margin-bottom: 30px;
    }
    p {
      padding-bottom: 30px;
    }
  }
  @include underSp {
    .philosophy-top {
      margin: 0 8%;
    }
    .philosophy-wrap-text {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      width: 84%;
      padding: 0;
      h3 {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1em;
        letter-spacing: 0.1em;
      }
      p {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
